<!DOCTYPE html>
<html lang="zh-hans">
{#{% load staticfiles %}#}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'stocks/mystyles.css' %}" />
        <title>stokcs blog</title>
    </head>
    <body>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <div class="container-fluid">
            {% block title %}
            {% endblock %}
             <div class="page-header">
                {% block pageheader %}thead th, thead td {
  text-align: center;
}
tbody th, tbody td {
  text-align: center;
}
                    <h1><a href="/">欧奈尔</a></h1>
                {% endblock %}
             </div>
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <blockquote class="blockquote-reverse">
                {% block footer %}
                    <p class="text-right">From pchaos's website</p>
                {% endblock %}
            </blockquote>
        </div>
    </body>
</html>

