{% extends "stocks/gridBase.html" %}

{% load humanize %}

{% block title %}

{% endblock %}

{% block nav %}
    <a href="{% url "home" %}">首页</a>
    <br/><br/>
    <form id="searchform" action="{% url 'stocks:freshhigh_search_list' %}" method="get" accept-charset="utf-8">
        {#        {% csrf_token %}#}
        {{ filter.form.as_p }}
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-search"></span>
            查询提交
        </button>
        <a href="{% url 'stocks:freshhigh_search_list' %}">清空查询条件</a>
    </form>
{% endblock %}

{% block pageheader %}

    <div class="container">
        <h1>{{ title|default:"列表" }}</h1>
    </div>
{% endblock %}

{% block content %}
    {% if object_list %}
        <table class="table" border="1">
            {% load tags %}
            <thead>
            <tr>
                {% for i in 0|range:1 %}
                    <th>序号</th>
                    {% if code|length != 6 %}
                        <th>代码</th>
                        <th>名称</th>
                    {% endif %}
                    <th>新高价格</th>
                    <th>阶段低点</th>
                    <th>跌幅（%）</th>
                    <th>新高日期</th>
                    <th>低点日期</th>
                    <th>高低点间隔天数</th>
                    <th>高点间隔天数</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for v in object_list %}
{#                {% for v in object_list|dictsort:"high" %}#}
                    <td>{{ forloop.counter }}</td>
                    {% if code|length != 6 %}
                        <td>
                            <a href="{% url 'stocks:freshhigh_search_list' %}?code__code={{ v.code.code }}">{{ v.code.code }}</a>
                        </td>
                        <td><a href="{% url 'stocks:freshhigh_search_list' %}?code__name={{ v.code.name }}">
                            <p>{{ v.code.name }}</p></a>
                        </td>
                    {% endif %}

                    <td><a href="">{{ v.high|floatformat:2 }}</a></td>
                    <td>
                        <a href="{% url 'stocks:rps_search_list' %}?code={{ v.code.code }} ">{{ v.low|floatformat:2 }}</a>
                    </td>
                    <td> {{ v.high|diefu:v.low }} </td>
                    <td>
                        <a href="{% url 'stocks:freshhigh_search_list' %}?htradedate__gt={{ v.htradedate|addDays:-1|date:'Y-m-d' }}">{{ v.htradedate|date:'Y-m-d' }}</a>
                    </td>
                    <td> {{ v.ltradedate|date:'Y-m-d' }} {{ v.high }} aa</td>
                    <td> {{ v.htradedate|diffday:v.ltradedate }} </td>
                    {% if not forloop.counter|mod:1 %}
                        </tr>
                        <tr>
                    {% endif %}
                {% endfor %}
                </tr>

            </tbody>
        </table>
    {% else %}
        <p>未找到创新高后调整幅度列表.</p>
    {% endif %}

    {% include 'stocks/pagination.html' %}

{% endblock %}

{% block ads %}
    <div class="col-8">
        {% if is_paginated %}共{{ page_obj.paginator.count }}条记录&nbsp;&nbsp;&nbsp; {% endif %}
    </div>
    {% if is_paginated %}每页{% endif %}记录数：{{ object_list|length }}
    {% include 'stocks/pagination.html' %}
    <br/> <br/>
    {% if filter.form.code__code.value|length == 6 %}
        <a href="{% url 'stocks:rps_search_list' %}?code={{ filter.form.code__code.value }}">RPS强度</a>
    {% endif %}
{% endblock %}
