{% extends "stocks/base_generic.html" %}

{% block title %}
    <div class="container">
            <h1>{{ title|default:"北向持股列表" }}</h1>
    </div>
{% endblock %}

{% block pageheader %}
    {% if hsgtcg_list %}
        <ul class="cate_type_ul" id="abId0.3492740980570006">

            <li class="first at" data-date="2018-06-08"><span>06月08日</span><i></i></li>
            <li data-date="2018-06-06"><span>近3日</span><i></i></li>
            <li data-date="2018-06-04"><span>近5日</span><i></i></li>
            <li data-date="2018-05-29"><span>近10日</span><i></i></li>
            <li data-date="2018-05-04"><span>近30日</span><i></i></li>
            <li class="custom-text ">
                <span style="float:left;">自定义区间</span><img class="handle-tips" title="在指定的时间段内，统计出个股的上榜情况，以及上榜后的个股行情走势。" src="/Stock2016/images/tip.png">
                <i></i>
            </li>
            <li class="custom-date-search end" data-date="2018-06-08" id="abId0.6005022282874953">
                <div class="date-input-wrap" id="abId0.05320646057728973" abineguid="E3AAD2F320D7444090353412B4C1E766">
                    <input class="date-input date-search-start" readonly="readonly" value="2018-06-08" onclick="WdatePicker()" type="text">
                    至
                    <input class="date-input date-search-end" readonly="readonly" value="2018-06-08" onclick="WdatePicker()" type="text">
                </div>
                <div class="search-btn"></div>
            </li>

        </ul>
        <div class="row">
            <div class="col-2"><a href="/">主页</a></div>
            <div class="col-2"><a href="#">近3日</a></div>
            <div class="col-2">当前页记录数：{{ hsgtcg_list|length }}</div>
        </div>
{% endif %}
{% endblock %}

{% block content %}
    {% if hsgtcg_list %}
        <table class="table">
            <thead>
            <tr>
                <th>日期</th>
                <th>代码</th>
                <th>备注</th>
            </tr>
            </thead>
            <tbody>
            {% for v in hsgtcg_list %}
                <tr>
                    <td><a href="{{ v.pk }}">{{ v.tradedate }}</a></td>
                    <td> {{ v.code }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>未找到北向持股列表.</p>
    {% endif %}

    {#  翻页  #}
    {% block pagination %}
        {% if is_paginated %}
            <div class="pagination">
                <ul class="paper">
                  {% if page_obj.has_previous %}
                       <li class="previous">
                        <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                      </li>
                  {% endif %}
                  <span class="page-current">
                      <li>
                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                      </li>
                  </span>
                  {% if page_obj.has_next %}
                      <li class="next">
                      <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                      </li>
                  {% endif %}
                </ul>
            </div>
        {% endif %}
    {% endblock %}

{% endblock %}

