{#  翻页  #}
{% block pagination %}
    {% if is_paginated %}
        {% load tags %}
        <div class="pagination">
            <ul class="paper">
                {% if page_obj.has_previous %}
                    <li class="previous">
                        <a href="{{ request.get_raw_uri }}?page={{ page_obj.previous_page_number }}">previous</a>
                    </li>
                {% endif %}
                <span class="page-current">
                  <li>
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                  </li>
              </span>
                {% if page_obj.has_next %}
                    <li class="next">
{#                        <a href="{{ request.get_raw_uri }}?page={{ page_obj.next_page_number }}">next</a>#}
                        <a href="{{ request.get_raw_uri|changePage:page_obj.next_page_number }}">next</a>
                    </li>

                {% endif %}
            </ul>
        </div>
{#        <ul class="pagination">#}
{#            <li>#}
{#                {% if page_obj.has_previous %}#}
{#                    <a href="?page={{ page_obj.previous_page_number }}">#}
{#                        prev#}
{#                    </a>#}
{#                {% else %}#}
{#                    <span>prev</span>#}
{#                {% endif %}#}
{#            </li>#}
{##}
{#            {% for page_number in paginator.page_range %}#}
{#                {% if page_number == page_obj.number %}#}
{#                    <li class="active">#}
{#                        <span>{{ page_number }}</span>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li>#}
{#                        <a href="?page={{ page_number }}">#}
{#                            &lt;{{ page_number }}&gt;#}
{#                        </a>#}
{##}
{#                    </li>#}
{#                {% endif %}#}
{#            {% endfor %}#}
{##}
{##}
{#            <li>#}
{#                {% if page_obj.has_next %}#}
{#                    <a href="?page={{ page_obj.next_page_number }}">#}
{#                        next#}
{#                    </a>#}
{#                {% else %}#}
{#                    <span>next</span>#}
{#                {% endif %}#}
{#            </li>#}
{#        </ul>#}
    {% endif %}

{% endblock %}