<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>成长股选股平台</title>
</head>
<body>
<h1>Hello 大家好!</h1>
<p>成长股选股平台</p>
<table class="table-active">
    <tr>
        <td><a href="{% url 'stocks:rps_search_list' %}">欧奈尔RPS强度</a></td>
        <td><a href="{% url 'stocks:block_search_list' %}">版块</a></td>
        {#<a href="{% url 'stocks:stockcodeList' %}">欧奈尔RPS强度2</a>#}
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td><a href="{% url 'stocks:architechture_list1' %}">基本面排雷</a></td>
        <td><a href="{% url 'stocks:architechture_list2' %}">投资者最容易走的16种坑</a></td>
    </tr>
</table>
</body>
</html>