
td, th {
    text-align: center;
}

thead th, thead td {
    text-align: center;
    /*font-size: smaller;*/
}

tbody th, tbody td {
    text-align: center;
}

table { margin: auto; }

h1 {
    text-align: center;
}