{% extends "stocks/architechure/architechtureBase.html" %}
{% block title %}
    <div class="container">
        <h1>笔记：价值投资的哲学——快就是慢，慢就是快</h1>
    </div>
{% endblock %}

{% block content %}

    <div class="article">
        <!-- 文章内容 -->
        <div data-note-content="" class="show-content">
            <div class="show-content-free">
                <p>【聪明的投资者】（第4版）在谈到防御型投资者如何参与普通股投资时，格雷厄姆举了职业生涯中期的成功医生的例子。</p>
                <p><i>“这个医生也许……乐意成为一名进取型的投资者，而且成功的机会也较大”，然后他话锋一转：“实际上，<b>医务人员</b>在处理证券实务方面<b>的无能</b>是众所周知的。”</i></p>
                <p><i>成功的投资需要付出大量的精力和对证券价值做出专业判断，而他们的局限性主要表现在：</i></p>
                <p><i>1.缺乏足够的时间来接受投资教育，照管自己的投资。</i></p>
                <p><i>2.他们通常对自己的智力极具信心；</i></p>
                <p><i>3.获利心切；</i></p>
                <p>
                    三个局限中，后二者最为要害。在证券市场上，犯下大忌的，又何止是医生?——技术出身的公司高管，牛市中初尝甜头的实体公司的老板......学霸的背景，天下谁也不服的性格，牛市中初尝甜头之后的，十头牛也拉不回来的决定......</p>
                <p><b>敬畏市场，认识自己。</b>不经历牛熊莫谈投资，就是说很多初学者往往“谁也不服”，牛市的水涨船高，又让他们信心爆棚。实际上，市场一旦风吹草动，他们信心的小船说翻就翻。</p>
                <p>池塘里的一只鸭子，由于暴雨的缘故水面上升，它开始在水的世界之中上浮，但此时它却以为上浮的是它自己，而不是池塘。</p>
                <p>好的市场行情，让所有人赚钱，但大多数人以为是他自己的能力。</p>
                <p>股价如果是那只鸭子的话，让股价上涨的，其实是暴雨般的市场推动力，而不是看起来活蹦乱跳的鸭子本身。只有潮水退去时，他们才会知道做人的道理应踏实、朴素。</p>
                <p><b>快就是慢，慢就是快。</b>这是我最近两年最深刻的感受。特别是见过一些金融“庞氏”牛人一夜暴富之后重新返贫或正在遭受牢狱之灾后，感受愈加强烈。</p>
                <p>
                    曾经有大牛“慕名”找到我，然后我和他讲到投资腾讯3年4倍，福耀玻璃大概是九年十倍；然后他说：这样太慢了哦。那我跟他讲，我说这还是不错的成绩，遇到不好的年份成绩还会更差一点。然后他脸色突转和他的同伴说，做这种投资收益太慢，太低。</p>
                <p>
                    ……大概过了半年多吧，然后我一个朋友告诉我，这帮人他们在前面的项目上赚了几十倍，但之后又投了另外一个“庞氏骗局”的项目，结果全军覆没，还把原来的投资的钱也亏进去了，其中还有理科学霸的主角正在坐牢。</p>
                <p>失去了“三观”的“庞氏骗局”参与者失去了底线，也总是不相信自己是最后的接棒者。</p>
                <p>信心满满的低买高卖的频繁交易者不也是相信自己不会是接盘侠么？然最终大多都成了韭菜。</p>
                <p>
                    我的一个朋友的朋友，也是一位医务工作者，之前仅有的几次交集，谈及股票，每次都是他的高抛低吸MACD线性各种理论。高频交易、获利心切、盲目自信在这位外科医生的身上全然印证。2016年金融系统去杠杆，这位外科医生偏偏选择了加杠杆，结果，你懂的。家里的现金资产几乎全部被消耗，之后精神抑郁，长期休假。</p>
                <p><b>快就是慢。</b><i>所有的利润最后的来源一定是实体企业，而实体企业的财富增长逻辑在可见的范围内是有限度的。凭空“创造”的暴利和暴富梦想都是违反逻辑的，都是有陷阱的，这个陷阱就会让想快的人欲速则不达，甚至伤痕累累。</i>
                </p>
                <p><b>慢慢赚，优秀的公司总是让人惊喜连连。</b>曾在08年股灾结束后2.53元买入福耀玻璃，后因工作关系，工作繁忙且常年出差，账户有时半年都未能看上一次。这种状态一直到12年。期间涨幅不大，感觉在股市赚钱好难。但后来的坚持让我开始欣喜若狂。其实从13到17年这段时间的涨幅正是福耀玻璃的雪球越滚越大的复利效应。这个歪打正着的经历告诉我，<b>在较低的价格买入优秀的公司，坚持长期持有，投资者大可以躺着赚钱。</b>
                </p>
                {% load static %}
                <img src="{% static 'stocks/images/architechture3_1.jpg' %}" alt="福耀玻璃" width="557" height="237">
                <p>当然如每半年抽半天时间，查看一下公司的业绩走势，最好不过。但我相信，工作繁重的医务工作者，半年中抽半天时间还是可以的吧。<b>价值投资者实在用不着用很多时间盯盘操作。</b></p>
                <p>找到优秀的公司，买在安全的价位，长期持有。<b>开始赚钱可能很慢，但随着企业的成长和时间的拉长，投资的复利效应逐步显现，慢生活下的慢成长开始指数级的成长。</b>正如之前福耀玻璃的投资经历，开始几年涨10%都很难，收益增长和股价增长也不匹配，而现在每涨10%就是本金的一倍。伯克希尔哈撒韦在2000年前后的业绩曲线也证实了这一点。
                </p>
                 <img src="{% static 'stocks/images/architechture3_2.jpg' %}" alt="福耀玻璃" width="554" height="243">
                <p>乌龟和兔子赛跑的故事有很多版本，价投的版本是让兔子和乌龟进行终生赛跑。纵使兔子中途不开小差，不睡觉，快速奔跑，但其寿命不过10年左右，而千年王八，慢慢悠悠，终将超越短命的小兔崽子。</p>
                <p><b>跑的慢，不是问题，跑的稳、跑的久才是王道。</b></p>

                <p><i><b>投资感悟：</b>投资者需要有些理性创业的情怀。偶以为，投资是另一种形式的创业，是通过投资、借力于优秀的团队的努力实现自己的创业梦想，在团队成功的基础上，投资者顺便实现财务梦想。这种创业的心态也支持投资者陪伴团队穿越漫长的“黑暗”岁月。期间看着优秀的团队不断成长，不断创造新的业绩，这种快乐感觉将远远超过赚钱本身。</i>
                </p>
            </div>
        </div>
    </div>
{% endblock %}