{% extends "stocks/architechure/architechtureBase.html" %}
{% block title %}
    <div class="container">
        <h1>欧奈尔的CAN SLIM法则——基本面排雷</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="article">
        <blockquote>
            <p>曾经听到一个说法，基本面无法帮助我们选出快速上涨的股票，但能帮我们避免很多地雷。本文就分享下欧奈尔的基本面选股法。</p>
        </blockquote>
        <h5>1、欧奈尔的CAN SLIM</h5>
        <p>CAN SLIM是7个选股条件，每个字母代表一个条件，含义分别如下：</p>
        <p>C=可观或者加速增长的当季每股收益和每股销售收入<br>
            A=年度收益增长率：寻找收益大牛<br>
            N=新公司、新产品、新管理层、股价新高<br>
            S=供给与需求：关键点上的大量需求<br>
            L=领军股或拖油瓶：孰优孰劣<br>
            I=机构认同度<br>
            M=判断市场走势</p>
        <p>下面会一一进行介绍。</p>
        <h5>2、利润和收入大幅增长（C和A）</h5>
        <p>欧奈尔对C的阐述如下：</p>
        <blockquote>
            <p>C=当季每股收益。<br>
                当季每股收益至少应该上涨18%-20%，能够上涨40%-100%甚至是200%就更好了，简而言之，越高越好。而且，最近几个季度内，每股收益应该在某个水平上持续上涨。同时，季度销售额也应该有至少25%的涨幅。
            </p>
        </blockquote>
        <p>欧奈尔对A的阐述如下：</p>
        <blockquote>
            <p>A=年度收益增长率。<br>
                近3年来，每年的年度每股收益都应该大幅度上涨（上涨25%或以上），同时股本投资回报率应大于等于17%（如果能达到25%-50%，那就更好了）。如果股本投资回报率较低，那么，这家公司的税前利润率必须较高。
            </p>
        </blockquote>
        <p>欧奈尔主做成长股，他更希望成长是既成现实，而非望梅止渴，所以首先限定了公司收益必须在过去的这个季度，以及过去的几个年度都有大幅增长。</p>
        <p>值得注意的是，这里的增长口径均为同比，而且必须剔除非经常性损益。</p>
        <p>除此之外，还有几点需要注意：</p>
        <p>（1）利润的增长应当来自于收入的增长，而非全部依赖于费用的缩减；</p>
        <p>（2）PE可以衡量当前价值，但并不是非常重要。成长股在1-2年后，随着每股收益的大幅增长，PE很可能由高转低；</p>
        <p>（3）不仅要看过去的收益增长，还要测算未来的增长，最好未来的增长率比现在更高；</p>
        <p>（4）公布的当季每股收益增长，很可能与股票走势无关。炒股炒预期，走势会给出市场解读；</p>
        <p>（5）股本回报率（ROE）能说明公司的管理水平，欧奈尔研究过去50年几乎所有最牛的成长股，ROE普遍高于17%；</p>
        <p>（6）每股现金流应当大于每股收益。</p>
        <h5>3、收益增长背后的原因（N）</h5>
        <p>欧奈尔对N的阐述如下：</p>
        <blockquote>
            <p>
                N=新公司、新产品、新管理层、股价新高。寻找那些开发出新商品或推出新服务、聘用新的管理人员或者是行业环境发生重大新变化的公司。然而，更加重要的是，购买那些从平稳的走势中脱颖而出，价格底部已经完全形成并且股价开始创出新高的股票。</p>
        </blockquote>
        <p>这些”新“就是收益增长背后的秘密。</p>
        <p>一些耳熟能详的例子。</p>
        <p>苹果发布iTouch、iPhone而收益大增（新产品）；</p>
        <p>腾讯发布王者荣耀，收益大增（新产品）；</p>
        <p>中国联通混改，收益大增（新管理层）；</p>
        <p>……</p>
        <p>还有很多类似的例子，这些“新”就是收益大增背后的秘密。</p>
        <p>同时，伴随着收益大增，股价往往也会突破新高，这就是我们应当买入股票的位置。收益增长带来的股价增长是健康的，只要公司收益持续增长，股价没道理不屡破新高。</p>
        <h5>4、市场合力（S、L、I）</h5>
        <p>欧奈尔对S的阐述如下：</p>
        <blockquote>
            <p>S=供给与需求：兼顾考虑流通股份的供给数量加上大量需求情况。<br>
                在当今新的市场环境下，只要某公司的股票满足CAN SLIM法则的其他要求，不管它的流通规模大小，都可以被投资者所接受。不过，需要重点关注那些在股价底部刚刚出现巨量向上突破的股票。</p>
        </blockquote>
        <p>欧奈尔对L的阐述如下：</p>
        <blockquote>
            <p>L=领军者或拖油瓶。买进领军股，回避落后股。买进在其行业中业绩优秀的公司的股票。大多数领军股的相对价格强弱指数会在80-90，牛市中，甚至会达到90或以上。</p>
        </blockquote>
        <p>欧奈尔对I的阐述如下：</p>
        <blockquote>
            <p>I=机构认同度。买进近期内业绩持续上涨，并且至少有一两家近期投资业绩拔尖的共同基金投资者认同的股票，同时留意投资机构管理层的变化情况。</p>
        </blockquote>
        <p>S、L、I均为其他投资者对这只股票的看法，由于市场是众多投资者共同作用，所以这三者代表了合力。</p>
        <p>S中需要注意以下几点：</p>
        <p>（1）流通盘越小，一般波动越大；流通盘越大，大型基金越容易进驻；</p>
        <p>（2）公司回购是大利好；</p>
        <p>（3）一般底部突破会伴随着交易量大幅上升。</p>
        <p>L中区分领军者和拖油瓶的办法是看股价强度，指标RS（或RPS），以后会详细介绍，注意只买入高强度，也即RS&gt;=80（甚至90）的股票。</p>
        <p>I指机构认同度，最简单的方法是看基金持仓，以及券商研报。根据个人多年混迹A股的经验，有以下几点注意：</p>
        <p>（1）港资买入的往往是具有价值的票（香港价值投资氛围更浓，水平也更好）；</p>
        <p>（2）没有券商（以及机构）研报或者只有一家券商研报的要小心；</p>
        <p>（3）券商预测一致性高的公司，往往确定性较好。</p>
        <h5>5、外部因素（M）</h5>
        <p>欧奈尔对M的阐述如下：</p>
        <blockquote>
            <p>M=判断市场走势。学会通过精确地分析每日估值、成交量变动和个别领军股的股价表现来判断大盘分析，这是决定你是大赔还是大赚的关键因素。在此，你必须顺势而为，不要偏离市场趋势去进行投资。</p>
        </blockquote>
        <p>欧奈尔对牛市信号还是熊市信号的判断在此不做赘述，因为美股和A股差异还挺多的（美股牛长熊短，A股牛短熊长）。</p>
        <p>唯一要说明的一点是，不要与趋势作对。如果身处牛市，怎么买都是对的；如果身处熊市，很可能会失败。至少，要确定持股周期内，大盘是稳定的。同时，当大盘下跌时，就是去挖黄金的时候。</p>
    </div>
{% endblock %}