<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="article">
    <h1 class="title">投资者最容易走的16种坑（附投资建议）|读威廉•欧奈尔《笑傲股市》</h1>

    <!-- 文章内容 -->
    <div data-note-content="" class="show-content">
        <div class="show-content-free">
            <blockquote><p>
                “要有勇气和信心，不要轻言放弃。股市中每年都有机会。让自己时刻准备着，随时去抓住。你会发现一粒小小的种子会长成参天大树。只要持之以恒，并付之以辛勤的劳动，梦想就会实现。”——威廉·欧奈尔</p>
            </blockquote>

            <p>欧奈尔是华尔街最富盛名、并于巴菲特、林奇并肩的投资大师，35年前曾经执掌具有传奇投资回报率，资产规模高达20亿美元的新美洲共同基金，时至今日，每年有超过600位的全球基金经理人听取他的投资意见。</p>
            <p>
                屌丝起家的欧奈尔，通过自学和孜孜不倦的努力，30岁时单枪匹马的用自己从股市上赚来的钱买下了纽约证券交易所的一个交易席位，并开办了一家属于自己的投资公司；欧奈尔创办《投资者商报》，致力于将他独创的“CANSLIM”股票交易法惠及大众。</p>
            <p>
                有人称欧奈尔为价值技术分析派，诚然如此。通过选取具有盈利成长性的股票，建立一个成长股股票池，接着，在买卖时机上，则根据技术分析一贯所重视的量价关系，买入市场中刚刚启动突破新高的强势价值股，进而通过“右侧交易”而获利。欧奈尔第一次将“价值投资”和“技术分析”统一到了一起。如果说价值投资者在股票交易中更重视“质”，技术分析者更重视“势”。</p>
            <p>本文重点将《笑傲股市》一书中“价值投资”系列观点进行了总结。</p><h4><b>投资者最容易走的16种坑</b></h4>
            <p>坑1.傻傻等待亏损的股票价格回升翻红。孰不知，地板之下还有地下室，地下室之下还有地狱。<b>愚蠢地坚持不卖出止损，这会使损失继续增大。</b></p>
            <p>坑2.<b>买处于跌势的股票，有可能后果惨痛。</b>片面理解股价下跌的价值，下落的理由如果不搞清楚——如果是企业的业绩变差或其他趋势性因素，那么下落的股价就会变成下落的刀子，从而让接刀子的手鲜血直流。</p>
            <p>坑3.平均买入单价向下摊平成本，而不向上摊平。向下摊平固然是好事，<b>为了追求效率，应在企业业绩反转时，采用向上摊平的战略</b>。</p>
            <p>坑4.总是大量买入每股股价较低的股票。<b>股价高低和股价的贵贱没有关系，有些EPS为0.01元以下甚至负值的公司，股价虽然低廉，但市盈率也可能是百千倍。</b></p>
            <p>坑5.总想在短时间内不费力气就赚到钱，寄希望于通过某种途径一夜暴富，或者过分冒险地对期权或期货进行集中投资。<b>股市不是印钞厂，更不是慈善机构，天上不会掉馅饼，总想一夜暴富的人迟早一天会掉进陷阱</b>。
            </p>
            <p>坑6.<b>自己不愿意独立思考，宁愿根据道听途说做决策</b>。依据小道消息、传言、情报及其他信息渠道、顾问公司的建议或者在电视上看到的所谓的市场专家的建议来购买股票。</p>
            <p>坑7.<b>高分红不是优秀企业的必要元素，高ROE才是</b>。一味想得到分红，或者受到低PE的诱惑而选择到的公司有可能是长期颓势的公司，最后的结果有可能是退市。</p>
            <p>坑8.<b>由于没有正确的选股标准，或者没有挑选成功的企业的眼光，从一开始就无法正确选择股票</b>。</p>
            <p>坑9.<b>不能客观地看待股票，只买自己熟悉的传统企业的股票</b>。人们对自己熟悉的和认识的公司往往带着特别的感情和自以为是的了解和信任，孰不知我们所谓的了解不过是盲人摸象。如果投资中带了感情，这笔投资基本上也就走到了终点。
            </p>
            <p>坑10.<b>不会识别和运用有用的信息。</b>公司基本的业绩报告和财务报表，都是公开的，且可以随时唾手可得，但是投资人却不看，反而舍近求远，舍真求假。</p>
            <p>坑11.<b>不使用图表分析，也不敢买正创新高的股票</b>。企业股价再创新高必定有其理由——比如业绩再创新高，或研发再出新品。关键是如果能够分析到仍然在安全区，大笔买入未尝不可。</p>
            <p>坑12.<b>人们善于长期持有亏损的股票，直到稍有上涨就轻易出手</b>。</p>
            <p>坑13.<b>总是考虑该买哪些股票，却完全不考虑不知道该在何时、何种情况下卖出股票</b>。</p>
            <p>坑14.没有认识到购买那些得到专业机构认可的好股票的重要性，也没有意识到<b>分析选择股票和投资的时机的重要性</b>。</p>
            <p>坑15.在做出购买和售出指令时，极少按照现行价格交易，总喜欢限价。<b>对毫厘价格的贪婪，往往让投资人错失买入/卖出的良机</b>。</p>
            <p>坑16.<b>在做重要决策时犹豫不决</b>。</p><h4><b>给投资者的16个建议</b></h4>
            <p>1.<b>不要买廉价劣质股，避开垃圾股</b>。廉价劣质股，就是低市盈率，低成长股。</p>
            <p><b>应该投资成长型股票。其特征为在过去3年中，每年每股收益（EPS)至少增长25%，而且来年市场预期值为25%以上</b>。</p>
            <p>2.<b>确保最近2~3个季度，持有的股票每股收益均有大幅度上升。涨幅要在25%~30%区间内。牛市时越高越好</b>。</p>
            <p>3.<b>最近三个季度的销售金额应当逐季增长</b>，或者最近一个季度的销售金额在25%以上。</p>
            <p>4.<b>投资那些ROE在17%以上的股票。最好的股票ROE在25%~50%之间</b>。</p>
            <p>5.<b>确认所持有的股票在最近一个季度税后净利率有所提高，而且与历年最高税后净利率接近</b>。</p>
            <p>6.<b>越是价格开始回升并创出新高的行业，收益率越高</b>。</p>
            <p>7.不要被股息或者市盈率简单诱惑而购买股票。要把<b>净利润、销售额、ROE、优秀产品等等因素综合考虑作为购买的依据</b>。</p>
            <p>8.交易量回升，日交易量应该至少是几十万股。<b>所买入股票形成了良好的股价模式后，日交易量超出平时交易量</b>。</p>
            <p>9.<b>在纸上写出自己的购买原则，这样就能知道应该什么时候卖出，获得利润</b>。</p>
            <p>10.确认业绩良好的基金是否是最近购买的股票，机构的持续支持更为有利。</p>
            <p>11.销售量好，最好是需要反复购买的新产品或者反响良好的公司的股票会很不错。</p>
            <p>12.<b>不要在期权、债券、优先股和期货市场方面投入精力</b>。</p>
            <p>13.公司管理层所持有的股票较多，他们就可投资人站在了同一条船上。<b>如果最近一家公司宣布回购本公司5%~10%的股票时应该予以强烈关注</b>。</p>
            <p>14.与历史悠久的企业相比，持有充满创造力和企业家精神的股票更有利。</p>
            <p>15.当自己充分自信时，应该离开交易充分冷静思考，自己的小成功到底是不是运气和大势造成。丢弃自满与固执，不要与市场斗气。</p>
            <p>16.<b>从心理学和人性的角度理解股市低谷与峰值是怎样形成的</b>。</p>
            <p>这两天，股票市场很不平静，不乏一些悲剧发生了，很多人开始风声鹤唳草木皆兵。建议可以参考欧奈儿的十六条避坑审视自己的股票，当然更好的做法是前期多做作业，关键时刻心里不慌。</p>
            <p>最后，好好修炼心理，思考人性，静看波动，静待花开。</p>
        </div>
    </div>
</div>

</body>
</html>