{% extends "stocks/architechure/architechtureBase.html" %}
{% block title %}
    <div class="container">
        <h1>欧奈尔RPS应用举例：汤臣倍健 （20170303）</h1>
    </div>
{% endblock %}

{% block content %}
    <div class="text">
        <div class="text-title">
            <div class="article-info">
                <span class="time" id="news-time" data-val="1488641592000">2017-03-04 23:33</span>
                <span data-role="original-link">来源:<a href="//www.sohu.com" target="_blank">房地产投资融资俱乐部mp</a></span>
            </div>
        </div>
        <article class="article" id="mp-editor">
            <p data-role="original-title" style="display:none">原标题：（20170303）欧奈尔RPS应用举例：汤臣倍健</p>
            <p>本文以历史上的汤臣倍健这个股票举例说明如何应用欧奈尔RPS，对于现在的汤臣倍健没有任何建议。</p>
            <p><strong>一、RPS</strong><strong>值略有差异不是关键的问题。</strong></p>
            <p>股票的RPS值略有差异，可能是正常的，可能与历史数据的完备性有关系。</p>
            <p>RPS具体多少数值不是最重要的，重要的是他这个时候，为什么强度如此高？背后的基本面原因是什么？</p>
            <p>我们要学会抓关键问题，寻找导致RPS值特别高的基本面原因。</p>
            <p>您得像拳击手一样，善于击中要害。</p>
            <p><strong>二、不是说RPS</strong><strong>值大于多少就可以买入的。</strong></p>
            <p>RPS值只是欧奈尔CANSLIM系统中最难于理解的一个关键因素。</p>
            <p>欧奈尔说，历史上的大牛股的主升浪之前的RPS值都达到了87以上。</p>
            <p>但并不是说个股的RPS值大于87就是可以买入的。</p>
            <p>个股RPS值大于87的意思，是说他过去一年之内的涨幅超过了市场上87%的股票。</p>
            <p>目前A股市场3000多只股票，RPS大于87的股票，有约400只股票。</p>
            <p>如果您发现RPS值大于87的股票就想买入，那么400多只股票，您也买不过来吧？您有那么多钱吗？</p>
            <p>不是我瞧不起您没钱，而是世界上最有钱的机构，都不可能持有400多只股票吧？</p>
            <p>RPS大于87，您就想买？别！你可千万别！</p>
            <p>哥跟您开个玩笑，哥想带您玩的对象是美女股票。如果您看见一个RPS大于87的股票，您就想上，也管是马，还是驴，您的审美观也太差了吧。</p>
            <p><strong>三、汤臣倍健的买入点：2012</strong><strong>年1</strong><strong>月20</strong><strong>日。</strong></p>
            <p>买入理由一：</p>
            <p>2012年1月20日，我确认一个指数的中期买入信号，详见我的新浪博客旧文。</p>
            <p>买入理由二：</p>
            <p>2012年1月20日的汤臣倍健半年期RPS为99，一年期RPS为92。如下图：</p>
            {% load static %}
            <p><img src="{% static 'stocks/images/architechture/architechture4_1.jpeg' %}"></p>
            <p>买入理由三：</p>
            <p>汤臣倍健前期最大回撤仅-25.25%。</p>
            <p>以2012年1月20日定点复权，前期最高价91.5元，后来最低下跌到68.4元。</p>
            <p>（68.4-91.5）/91.5=-25.25%。</p>
            <p>这个回撤幅度的数据很关键。欧奈尔老师说过，大牛股在一轮中期调整中的最大调整幅度在20%-25%以内的，比较理想，最好不要超过30%。</p>
            <p>如果回撤幅度过大，形态过为松散，不好。</p>
            <p>买入理由四：</p>
            <p>汤臣倍健的业绩增长超越市场预期。</p>
            <p>哦豁，这个数请您去查看历史了。我不管了。</p>
            <p>买入理由五：</p>
            <p>汤臣倍健的市值适中。</p>
            <p>2012年1月20日，收盘价71元，总股本1.0936万股。</p>
            <p>总市值=71*1.0936=77.6亿元。</p>
            <p>买入理由六：我割过肉。</p>
            <p>2012年1月18日，我刚刚割完肉。</p>
            <p>2012年1月18日下午我低挂78元往下砸的，然后当天下午大跌，然后第二天盘中跌停。</p>
            <p><img src="{% static 'stocks/images/architechture/architechture4_2.jpeg' %}"></p>
            <p><img src="{% static 'stocks/images/architechture/architechture4_3.jpeg' %}"></p>
            <p>2012年1月19日盘中跌停的时候，我高兴得很，以为自己卖对了。</p>
            <p>可是殊不知，那是一个天赐良机的绝佳买点。</p>
            <p>2012年1月19日盘中跌停价是未来六个月内股价上涨113%的起点。</p>
            <p><strong>四、成长股的买入要点总结。</strong></p>
            <p><strong>有朋友将成长股的买入要点总结为三个字：小新高。</strong></p>
            <p>小的意思是市值要小。</p>
            <p>历史上很多超级大牛股都是从几亿元或者几十亿元起步的。</p>
            <p>您现在如果告诉我一只200亿市值的股票，将来要涨十倍，我多半都不用看是什么股票，就两个字：不信。</p>
            <p>新的意思是上市不久的股票，即次新股。</p>
            <p>高的意思，是指业绩高增长。</p>
            <p><strong>高的意思，我也曾经有过三高甚至四高的总结。</strong></p>
            <p>高强度，指欧奈尔的RPS值很高。</p>
            <p>筹码高度稳定。</p>
            <p>经历了一个高度完整的中期调整。</p>
            <p>喂，我这里正在上课传授干货，您不会是一脸懵逼吧？</p>
            <p><strong>五、授人以渔。</strong></p>
            <p>如何应用欧奈尔RPS选股，本文绝对干货吧。</p>
            <p>请不要问我应该买什么股票，我这里授人以渔，不授人以鱼。</p>
            <p>我这里没有鱼，只有渔。</p>
            <p>渔，喏，送给你。</p>
            <p>来源：陶博士2006</p>
{% endblock %}